body {
    font-family: Helvetica;
    font-size: 13px;
    margin: 20px;
}

.new {
    padding: 5px;
    border-radius: 3px;
    color: #FFF;
    background-color: rgb(16, 114, 16);
    text-decoration: none;
}

table {
    margin-top: 20px;
}
table th {
    padding: 10px;
    background-color: #999;
}
table tr td {
    padding: 10px;
}
table tr:hover td {
    background-color: #EEE;
}